.rotate{
  transform: rotate(-90deg);
}


.no-lines{
  text-decoration-line: none;
}

a:hover, a:active {
  color: purple;
}

.temp-push {
  position: relative;
  margin-top: 45vh;

}

.particles-size {
  height: 100vh;
}