@font-face {
  font-family: 'Space Grotesk';
  src: url('SpaceGrotesk-Regular.woff2') format('woff2'),
      url('SpaceGrotesk-Regular.woff') format('woff'),
      url('SpaceGrotesk-Regular.svg#SpaceGrotesk-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.rotate{
  transform: rotate(-90deg);
}


.no-lines{
  text-decoration-line: none;
}

a:hover, a:active {
  color: white;
}

.temp-push {
  position: relative;
  margin-top: 45vh;

}

.particles-size {
  height: 100vh;
}

.bg-home {
  background-color: black;

}
.dumpling{
  font-family: 'Space Grotesk';
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  
}

.dumplingA{
  font-family: 'Space Grotesk';
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 5pt;
  
}

.dumplingB{
  font-family: 'Space Grotesk';
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 3pt;
  
}

.text-color{
  font-family: 'Space Grotesk';
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  
}

.text-color:hover {
  text-decoration: underline;

}

.text-color-me{
  font-family: 'Space Grotesk';
  color: white;
  text-decoration: none;
  letter-spacing: 1px;

}
.text-color-me:hover{
  zoom:1.1;

}

.screen-lock{
  overflow: hidden;
}

.backward {
  z-index: -99;
  position: absolute;
}